@model TeamGram.Teamspeak.ServerDetailedInfo

<div class="ui main text container">
    <h1 class="ui header">Users on server</h1>
    <div class="ui list">
        @foreach (var (serverName, clientList) in Model.GetChannelsWithUsers())
        {
            <div class="item">
                <i class="users icon"></i>
                <div class="content">
                    <div class="header">@serverName</div>
                    <div class="list">
                        @foreach (var clientInfo in clientList)
                        {
                            <div class="item">
                                <i class="user icon"></i>
                                <div class="content">
                                    <div class="header">@clientInfo.Username</div>
                                    <div class="description">@clientInfo.IpAddress</div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
        <div class="item">
            <i class="microchip icon"></i>
            <div class="content">
                <div class="header">Bots</div>
                <div class="list">
                    @foreach (var clientInfo in Model.GetBots())
                    {
                        <div class="item">
                            <i class="bug icon"></i>
                            <div class="content">
                                <div class="header">@clientInfo.Username</div>
                                <div class="description">@clientInfo.IpAddress</div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script defer>
    setTimeout(function(){
       window.location.reload(1);
    }, 5000);
</script>